@model ZapateriaJossielito.Models.Imagen
@{
    ViewBag.Title = "Agregar Imagenes";
}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<h2>Index</h2>

@using (Html.BeginForm("AgregarIMG", "DatosImg", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.TextBoxFor(a => a.file, new { Type = "file" })
    <input type="submit" />
}
<img src="" />


<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" />
</form>
@Html.ActionLink("Go second page", "Second", new { @clas = "btn btn-primary" });
<a href="~/Controllers/second" class="btn btn-primary">Go secod page </a>