@model ZapateriaJossielito.Models.Estilos
@{
    ViewBag.Title = "Combobox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Combobox</h2>

<a></a>
<form action="Estilo" method="post">
</form>




@using (Html.BeginForm("getcombo", "Estilo", FormMethod.Post))
{




    @Html.DropDownListFor(a => a.IdEstilo, new SelectList(ViewBag.listofestilocombobox, "Value", "Text"), "Selecciona un estilo", new { @class = "form-control" })



    <input type="submit" />
}
