@model ZapateriaJossielito.Models.Estilos
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
    <title>Zapateria Jossielito</title>

    <link rel="stylesheet" href="~/Style/Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="encabezado">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(11, 34, 57) ;">
            <div class="container navbar-brand-container">
                <a class="navbar-brand" href="Index"><img src="Images/logo.png"></a>
                <div class="collapse navbar-collapse" id="Cajados">
                    <div id="contenedor">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="cajatres">
                            <li class="nav-item">
                                <a class="nav-link " id="color" aria-current="page" href="Index">Inicio</a>
                            </li>

                            <li>

                                <div class="dropdown show">
                                    <a class="btn btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Estilo</a>
                                    <div class="dropdown-menu" id="colormenu" aria-labelledby="dropdownMenuLink">
                                        <div class="edicion">
                                            @using (Html.BeginForm("getcombo", "Zapato", FormMethod.Post))
                                            {
                                                @Html.DropDownListFor(a => a.IdEstilo, new SelectList(ViewBag.listofestilocombobox, "Value", "Text"), " Estilos", new { @class = "form-control" })
                                            }
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="color" aria-current="page" href="#">Hombre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="color" aria-current="page" href="#">Mujeres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="color" aria-current="page" href="#"> Quienes Somos?</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="cuenta">¿Tienes una cuenta?</div>
                <form class="d-flex">
                    <a class="btn btn-outline-success" id="Logueo" href="Login" role="button">Login</a>
                    <a href="Index"><img src="Images/cesta.png" id="cesta"></a>
                </form>

        </nav>
    </div>


    <div id="carritos">
        <table class="table table-striped">
            <thead class="table-info">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><input type="number" placeholder="Cantidad" min="1" max="100"></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td><input type="number" placeholder="Cantidad" min="1" max="100"></td>
                </tr>



            </tbody>
        </table>

        <button type="submit" class="btn btn-success" id="pagar" name="enviar">pagar</button>

    </div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>